# Others
.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

Export-079cbf08-8d02-4494-b40a-70d4ecfa37d2/*
# testing
/coverage

# production
/build

**/temp

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
